body {
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
  background-color: #282c34;
}

div {
  color: white;
  padding: 0;
  margin: 0;
}

.heading {
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
}

.title {
  font-size: 1.3em;
  text-align: center;
  margin: 0.3em 2em 0.3em 2em;
  font-family: 'Open Sans', sans-serif;
}

.brewery-section {
  padding: 15px;
  font-size: 0.9em;
}

.brewery-heading {
  cursor: pointer;
}

.beer-section {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.8em;
}

.description {
  font-weight: lighter;
}

.heading-description {
  text-align: justify;
}

.base {
  padding: 0.2em 1em 0.2em 1em;
  background-color: #31353f;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

.enter-button {
  font-weight: bold;
  background-color: #31353f;
  border-radius: 0.3em;
  padding: 0.2em;
  margin: 0.2em;
  font-size: 2em;
}

.centre-align-contents {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

img {
  height: 10em;
}

.subtitle {
  font-size: 0.7em;
  font-style: italic;
}